* {
    box-sizing: border-box;
  }
form{
    width: 500px;
    background-color: rgba(53, 66, 74, 0.5);
    margin: 20px auto;
    border-radius: 5px;
    padding: 6px;
}
label{
    display: block;
}
select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}
input[type=email], [type=text], [type=password]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px auto;
    width: 100%;
}
input[type=submit]{
    background-color: #35424a;
    color: aliceblue;
    padding: 10px;
    border: none;   
    border-radius: 7px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.form-row{
    padding: 12px;
    width: 80%;
    margin: auto;
}
